# dependencies
node_modules/

# Next.js
.next/
out/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.local
.env.production

# macOS
.DS_Store

# Windows
Thumbs.db